@model GarajeMVC.Models.Garage
@{
    ViewData["Title"] = "Home Page";
    List<Auto> autosList = Model.GetAutos();
}

<h3>Garaje: @Model.getDescripcion() </h3>

<table class="table">
    <tr>
        <th>Numero</th>
        <th>Marca</th>
        <th>Placa</th>
    </tr>
    @foreach (var item in autosList)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.numeroAuto)</td>
            <td>@Html.DisplayFor(modelItem => item.Marca)</td>
            <td>@Html.DisplayFor(modelItem => item.Placa)</td>
        </tr>
    }
</table>